@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/********************* Header ****************** */
header{
    /* background: red; */
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
}
.div__logo {
}
.div__logo img{
    position: relative;
    width: 104px;
    height: 30px;
    /* background: var(--lorem-container); */
}
/********************* Lorem ********************/
/* .div__logo img::after{ 
    content: "104 x 30";
    font-family: "sans-serif";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/************************************************/
.div__options {
    width: 120px;
    height: 24px;
    /* color: var(--lorem-item); */
    display: flex;
    gap: 24px;
}
.div__options img{
    width: 24px;
    height: 24px;
    position: relative; /* Lorem */
    /* background: var(--lorem-item); */
}
/********************* Lorem ********************/
/* .div__options img::after{
    content: "24 x 24";
    font-family: "sans-serif";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/********************* Nav **********************/
.nav__storyTray{
    background: var(--lorem-container);
    width: 100%;
    height: 105.75px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow-x: scroll;
    gap: 12px;
}
.nav__storyTray > .div__storyUser {
    flex: 1;
    background: var(--lorem-item);
    min-width: 72px;
    height: 97.75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div__storyUser-container{
    width: 63.13px;
    height: 63.13px;
    overflow: hidden;
    position: relative;
    border-radius: 100%;
    border: 3.5px solid transparent;
    background: linear-gradient(transparent #fff) padding-box, linear-gradient(#C91389, #F9393f, #FECD00);
    background-clip: padding-box, border-box;
}
.div__storyUser img::before{
    content: "";
    width: 53.63px;
    height: 53.63px;
    position: absolute;
    border: 2.5px solid #fff;
    border-radius: 100%;
}
.div__storyUser img{
    width: 63.13px;
    height: 63.13px;
    position: relative;
    background: var(--lorem-item-box);
    border-radius: 100%;
    border: 3.5px solid transparent;
    background: linear-gradient(transparent #fff) padding-box, linear-gradient(#C91389, #F9393f, #FECD00);
    /* outline: 3.5px solid linear-gradient(#C91389, #F9393f, #FECD00); */
    /* border: 3.5px solid var(--color-1); */
}
.div__storyUser span{
    background: var(--lorem-item-box);
    width: 59.64px;
    height: 25.75px;
    padding: 0 6.18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-family: "sfuidisplay_bold";
    font-size: 11.5px;
    color: var(--color-2);
}
/********************* Lorem ********************/
/* .div__storyUser img::after{
    content: "64 x 54";
    font-family: "sans-serif";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
} */